/* styles.css */

body {
    font-size: 20px;
    line-height: 1.6;
    font-weight: bold;
    color: black;
    background-color: white;
    margin: 0;
  }
  
  a {
    /* font-weight: bold; */
    color: darkgreen;
    text-decoration: none;
  }
  
  .navbar-brand {
    font-size: 40px;
  }

  .my-button {
    background-color: white;
    color: black;
  }
  .container my-5 my-button2{
    background-color: white;
    color: black;
  }
  
  table.center {
    font-size: 20px;
    margin-left:auto; 
    margin-right:auto;
  }

  .news_info h4 {
    padding: 20px;
    margin-top: 10px;
  }
  
  .mb-3 h5 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .mb-3 p {
    font-size: 15px;
    margin-bottom: 5px;
  }
  