body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
  
h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-control {
    min-width: 300px;
}


.form-row {
    margin-bottom: 2rem;
}
  
.form-group {
    margin-bottom: 1rem;
}
  
.form-group label {
    font-weight: bold;
}
  
.form-group input {
    border-radius: 0;
}
  
.form-group button {
    border-radius: 0;
    min-width: 300px;
    text-align: center;
}

table {
    margin-bottom: 2rem;
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 0.75rem;
    text-align: center;
}
  
th {
    background-color: #f0f0f0;
    font-weight: bold;
}
  
tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
.plot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
    max-width: 960px;
    flex-wrap: wrap;
}
  
.plot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  