{% extends 'base.html' %}

{% block content %}
  <div class="container my-5">
    <h2 class="mb-3">You can search the stock information!</h2>
    <form action="{{ url_for('get_stock') }}" method="POST">
      <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" name="symbol" id="symbol" class="form-control" required>
      </div>
      <button type="submit" class="my-button">Submit</button>
    </form>
  </div>
{% endblock %}
