{% extends 'base.html' %}
{% block content %}
  <div class="container my-5">
    <form action="{{ url_for('get_stock') }}" method="POST">
      <div class="form-group">
        <label for="symbol">Stock Symbol:</label>
        <input type="text" name="symbol" id="symbol" class="form-control" required>
        <button type="submit" class="my-button2">Submit</button>
      </div>
    </form>

    
    <h2 class="my-3 "><strong>{{ stock['overview']['Name'] }} ({{ stock['overview']['Symbol'] }})</strong></h2>
  
    <div id="myDiv" style="width:800px; height:400px; margin: 0 auto; align-items: center; display: flex; justify-content: center;"></div>

    <div style="text-align:center;">
      <table class="center">
        <tr>
          <td>
            <strong>Name:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['Name'] }}
          </td>
          <td>
            <strong>Current Price:</strong>
          </td class="right-align">
          <td>
            {{ stock['global_quote']['Global Quote']['05. price'] }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Sector:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['Sector'] }}
          </td>
          <td>
            <strong>Previous Close:</strong>
          </td class="right-align">
          <td>
            {{ stock['global_quote']['Global Quote']['08. previous close'] }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Industry:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['Industry'] }}
          </td>
          <td>
            <strong>Open Price:</strong>
          </td class="right-align">
          <td>
            {{ stock['global_quote']['Global Quote']['02. open'] }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Market Cap:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['MarketCapitalization']}}
          </td>
          <td>
            <strong>Volume:</strong>
          </td class="right-align">
          <td>
            {{ stock['global_quote']['Global Quote']['06. volume'] }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>P/E Ratio:</strong>
          </td class="right-align">
          <td>
            {{ stock.overview.PERatio }}
          </td>
          <td>
            <strong>EPS:</strong>
          </td class="right-align">
          <td>
            {{ stock.overview.EPS }}
          </td>
        </tr>
        <tr>
          <td>
            <strong>52-Week High:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['52WeekHigh']}}
          </td>
          <td>
            <strong>52-Week Low:</strong>
          </td class="right-align">
          <td>
            {{ stock['overview']['52WeekLow']}}
          </td>
        </tr>
        <tr>
          <td>
            <strong>Dividend:</strong>
          </td class="right-align">
          <td>
            {{ stock.overview.DividendPerShare }} ({{ stock.overview.DividendYield }})
          </td>
          <td>
            <strong>Exchange:</strong>
          </td class="right-align">
          <td>
            {{ stock.overview.Exchange }}
          </td>
        </tr>  
      </table>
    </div>
    
    <div class="news_info">
      <h4><strong>News</strong></h4>
      <ul>
        {% for article in stock.news %}
          <div class="mb-3">
            <a href="{{ article.url }}" target="_blank"><h5>{{ article.title }}</h5></a>
            <p>{{ article.summary }}</p>
          </div>
        {% endfor %}
      </ul>
      
    </div>
    <div class="col-lg-6"> 
      <div id="cus-div" data-my-var="{{ symbol }}"></div>
      <div id="myDiv"></div>
      <script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <script src="/static/data.js"></script>
    </div>
  </div>

  
{% endblock %}
