<!DOCTYPE html>

<html>
  <head>
    <title>Stock Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">
      <h1 class="mt-4 mb-4">Stock Tracker</h1>
      <form class="mb-4" action="/" method="post">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" name="symbol" placeholder="Stock Symbol">
          </div>
          <div class="form-group col-md-6">
            <input type="number" step="any" class="form-control" name="tracking_price" placeholder="Tracking Price">
          </div>
          <div class="form-group col-md-6">
            <input type="number" class="form-control" name="shares" placeholder="Number of Shares">
          </div>
          <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
      <table id="stock-table" class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Stock Symbol</th>
            <th>Date</th>
            <th>Tracking Price</th>
            <th>Number of Shares</th>
            <th>Current Price</th>
            <th>Percent Change (%)</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks %}
            <tr>
              <td>{{ stock[1] }}</td>
              <td>{{ stock[2] | datetimeformat('%Y-%m-%d %H:%M:%S') }}</td>
              <td>{{ stock[3] }}</td>
              <td>{{ stock[4] }}</td>
              <td>{{ stock[5] }}</td>
              <td>{{ stock[6] }}</td>
              <td>
                <form action="/" method="post">
                  <input type="hidden" name="id" value="{{ stock[0] }}">
                  <button type="submit" class="btn btn-danger" name="action" value="Delete">Delete</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="plot-container">
      <div id="scatter-chart" class="plot">{{ scatter_html | safe }}</div>
      <div id="pie-chart" class="plot">{{ pie_html | safe }}</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <script src="/static/index.js"></script>
  </body>
</html>


