{% extends 'base.html' %}

{% block content %}
    <!doctype html>
    <html lang="en">
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Headers · Bootstrap v5.3</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="text-center" style="margin-top:20px;"><div>
        <h3 class="fw-normal">Please choose a stock:</h3>
            <select name="stock" id="stock-select">
                <option value="">--please select--</option>
                <option value="AAPL">Apple</option>
                <option value="GME">GameStop</option>
                <option value="TSLA">Tesla</option>
                <option value="SPY">S&P 500</option>
            </select>
            </div>
        </div>
            
        <div id="myDiv" style="width: 800px; height: 400px; margin-left:auto; margin-right:auto"></div>

        <div class="text-center">
            <div class="flexBox">
                <button type="button" class="btn btn-lg btn-primary example-button confirm" id="submit">Submit</button>
            </div>
        </div>
            
        <script src="/static/data.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-2.15.0.min.js"></script>
        <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js" integrity="sha512-oVbWSv2O4y1UzvExJMHaHcaib4wsBMS5tEP3/YkMP6GmkwRJAa79Jwsv+Y/w7w2Vb/98/Xhvck10LyJweB8Jsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <a href="{{ url_for('blog.index') }}">back to home</a>
    </body>
</html>
{% endblock %}
